
.middle_wrapper{
	display:flex;

}
.left_side_content{
	width:800px;
	float:left;
	
	.main_content{
		padding:30px 10px;
		font-family:$main-font;

		h1{
			padding:6px 5px;
			font-size:32px;
			padding-bottom:12px;
		}
		h1::selection{
			background-color:$main-color;
			color:#fff;
		}
		p{
			font-size:16px;
			line-height:25px;
		}
		p::selection{
			background-color:$main-color;
			color:#fff;
		}
		.content_list{
			padding:20px 30px;

			li{
				line-height:25px;
			}
			li::selection{
				background-color:$main-color;
				color:#fff;
			}
		}
	}
}
.right_side_content{
	width:198px;
	float:right;
	background:#eee;
	border-left:1px solid $main-color;
	height:100%;
	ul{
		padding:20px 30px;
	}

	li{
		list-style: circle;
		font-family:$main-font;
		padding:5px 10px;
	}
	a{
		text-decoration: none;
		color:#000;
	}
	a::selection{
		background-color:$main-color;
		color:#fff;
	}
}

