nav{
	ul{
		margin:0;
		padding:0;
	}
	li{
		list-style:none;
		display:inine-block;
		padding-top:20px;
		padding-bottom:10px;
	}
	a{
		color:#ddd;
		text-decoration:none;
		display:inline-block;
	}
}