h1{
    color: teal;
}

.first{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: pink;
    border: 5px solid  black;
    writing-mode: vertical-rl;
}

.third{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: goldenrod;
    border: 5px solid  black;
    writing-mode: sideways-rl;
}

img{
    width: 100%;
}

p{
    font-family: 'Courier New', Courier, monospace;
}